::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
 }
 :-moz-placeholder {
    color: white;
    opacity: 0.5;
}
::-moz-placeholder {
    color: white;
    opacity: 0.5;
}
:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
 }