.movieItemGenreWrapper {
    display: flex;
    width: 50%;
    @media (max-width: 848px) {
        width: 100%;
        justify-content: center;
    }
}
.movieItemGenre {
    display: flex;
    padding: 0;
    margin: 0 55px 42px 55px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    @media (max-width: 600px) {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .image {
        margin-right: 43px;
        @media (max-width: 600px) {
            display: flex;
            justify-content: center;
            margin: 0;
        }
        img {
            box-shadow: 0 0 5px #fff;
            width: 185px;
            height: 229px;
            border-radius: 20px;
            @media (max-width: 600px) {
                width: auto;
            }
            @media (max-width: 400px) {
                width: 135px;
                height: 185px;
            }
        }
    }
    .description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        @media (max-width: 848px) {
            display: block;
        }
        @media (max-width: 600px) {
            text-align: center;
        }
        .name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            text-transform: uppercase;
            margin-bottom: 57px;
        }
        .country {
            flex: 1 0 auto;
            font-weight: 400;
            font-size: 13px;
            @media (max-width: 848px) {
                line-height: 2%;
            }
        }
        .genres {
            flex: 0 0 auto;
            font-weight: 400;
            font-size: 13px;
        }
    }
}