.movieDetailWrapper {
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    max-width: 1230px;
    min-height: 556px;
    display: flex;
    justify-content: center;
    margin: 90px 0 100px 0;
    @media (max-width:1200px) {
        margin: 90px 35px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 40px 90px 0 90px;
        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 767px) {
            margin: 40px 0 0;
        }
        .image {
            width: 30%;
            @media (max-width: 1024px) {
                padding-bottom: 40px;
                width: 50%;
            }
            @media (max-width: 767px) {
                width: 65%;
            }
            @media (max-width: 480px) {
                width: 85%;
            }
            img {
                box-shadow: 0 0 5px #fff;
                border-radius: 20px;
                width: 100%;
            }   
        }
        .content {
            width: 70%;
            @media (max-width: 1024px) {
                width: 90%;
            }
            .contentTitle {
                display: flex;
                text-align: center;
                justify-content: space-between;
                margin-left: 24px;
                @media (max-width: 1024px) {
                    margin-left: 0;
                }
                @media (max-width: 767px) {
                    flex-direction: column;
                }
                .name {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 120%;
                    text-transform: uppercase;
                    color: #fcdba1;
                    @media (max-width: 767px) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: 480px) {
                        font-size: 20px;
                    }
                }
                .rating {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    .ratingNumber {
                        display: flex;
                        text-align: center;
                    }
                    img {
                        width: 43px;
                        height: 43px;
                        @media (max-width: 480px) {
                            width: 33px;
                            height: 33px;
                        }
                    }
                    span {
                        color: #fcdba1;
                        font-weight: 800;
                        font-size: 27px;
                        line-height: 37px;
                        text-transform: uppercase;
                        margin-left: 11px;
                        @media (max-width: 480px) {
                            font-size: 20px;
                        }
                    }
                }
            }
            .contentBody {
                display: flex;
                flex-direction: column;
                @media (max-width: 1024px) {
                    width: 100%;
                }
                .contentBodyItem {
                    display: flex;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 20px;
                    @media (max-width: 1024px) {
                        width: 100%;
                    }
                    @media (max-width: 767px) {
                        flex-direction: column;
                    }
                    h3 {
                        margin-right: 20px;
                        @media (max-width: 767px) {
                            margin-bottom: 10px;
                        }
                    }
                    .description {
                        display: flex;
                    }
                }
            }
        }
    }
}