.movieItem {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    max-width: 180px;
    padding: 0;
    margin: 0 55px 42px 55px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    @media (max-width: 1024px) {
        margin: 0px 35px 42px;
    }
    @media (max-width: 480px) {
        margin: 0px 0px 42px;
    }
    .image img {
        width: 100%;
        height: 260px;
        border-radius: 20px;
        box-shadow: 0 0 5px #fff;
    }
    .bottomWrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: auto;
        .name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 91%;
            margin-bottom: 25px;
        }
        .country {
            flex: 1 0 auto;
            font-weight: 400;
            font-size: 13px;
            line-height: 91%;
        }
        .genres {
            flex: 0 0 auto;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
        }
    }
}