.movieListWrapper {
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    max-width: 1230px;
    padding: 40px 35px 62px 35px;
    margin: 95px 0;
    @media (max-width: 1200px) {
        margin: 95px 35px;
    }
    @media (max-width: 480px) {
        padding: 40px 15px;
    }
    @media (max-width: 400px) {
        padding: 40px 5px;
        margin: 95px 15px;
    }
    .genreTitle {
        display: flex;
        margin: 40px 0 50px 90px;
        @media (max-width: 848px) {
            margin: 0 auto;
            padding: 40px 0px;
            justify-content: center;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .genre {
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
            color: #fff;
            @media (max-width: 767px) {
                font-size: 25px;
            }
        }
        .genreName {
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            color: #fcdba1;
            margin-left: 35px;
            @media (max-width: 767px) {
                font-size: 25px;
                margin-left: 0;
            }
        }
    }
    .movieGenre {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 848px) {
            flex-direction: column;
        }
    }
}