.mainPageTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 90px 0 50px 0;
    .mainTitle {
        color: #fcdba1;
        font-weight: 700;
        font-size: 60px;
        line-height: 82px;
        margin-bottom: 5px;
        @media (max-width: 656px) {
            font-size: 35px;
        }
    }
    .title {
        color: #ffffff;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        @media (max-width: 656px) {
            font-size: 20px;
        }
    }
}