.movieList {
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1230px;
    padding: 40px 35px 62px 35px;
    margin-bottom: 100px;
    @media (max-width: 1200px) {
        margin-left: 35px;
        margin-right: 35px;
    }
    @media (max-width: 656px) {
        justify-content: space-around;
    }
    @media (max-width: 480px) {
        padding: 40px 20px 62px;
    }
}