*,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    box-shadow: 0 0 10px #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eb6821;
    z-index: 3;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1230px;
    padding: 10px 0px;
    color: #fff;
    .logo {
        display: flex;
        position: relative;
        z-index: 3;
        @media (max-width: 1200px) {
            margin-left: 35px;
        }
    }

    .logoEllipse {
        background-color: #fcdba1;
        box-shadow: 0 0 5px #fcdba1;
        border-radius: 50%;
        position: absolute;
        width: 24px;
        height: 24px;
        left: -10px;
        top: 2px;
        z-index: 0;
    }

    .logoTitle {
        font-size: 30px;
        font-weight: 700;
        z-index: 1;
    }

    .header-menu {
        z-index: 3;
        @media (max-width: 1200px) {
            margin-right: 35px;
        }
        a {
            color: #ffffff;
            margin-left: 35px;
            font-size: 18px;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
            &.linkActive {
                text-decoration: underline;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .header-burger {
        display: none;
    }
    @media (max-width: 767px) {
        .header-burger {
            display: block;
            position: relative;
            z-index: 3;
            margin-right: 35px;
            width: 30px;
            height: 20px;
            cursor: pointer;
        }
        .header-burger:before,
        .header-burger:after,
        .header-burger span {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header-burger span {
            top: 9px;
        }
        .header-burger:before {
            top: 0;
        }
        .header-burger:after {
            bottom: 0;
        }
        .header-burger--active span {
            transform: scale(0);
        }
        .header-burger--active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header-burger--active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header-menu {
            background: linear-gradient(#eb6821, #036c99);
            box-shadow: 0 0 10px #fff;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -60%;
            width: 60%;
            height: 100%;
            z-index: 2;
            padding: 100px 20px 0;
            margin-right: 0;
            transition: all 0.5s ease;
            opacity: 0;
        }
        .header-menu--active {
            right: 0;
            opacity: 1;
        }
        .header-menu a {
            font-size: 22px;
            margin: 0 0 20px 0;
        }
    }
}