.searchWrapper {
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    color: #fff;
    margin: 80px 35px 100px;
    @media (max-width: 600px) {
        margin: 80px 10px 100px;
    }
    .search {
        margin: 40px 90px 0 90px;
        @media (max-width: 767px) {
            margin: 40px 10px 0;
            text-align: center;
        }
    }
    .searchTitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #fcdba1;
    }
    .searchResultTitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }
    .searchEngine {
        border: 1px solid #d4d4d4;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 18px 0 30px 0;
        input {
            color: #fff;
            background: none;
            outline: none;
            border: none;
            width: 95%;
            margin-left: 20px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            
        }
        button {
            border: none;
            background: none;
            cursor: pointer;
            padding-top: 2px;
            margin-right: 7px;

        }
    }
    .searchResultContent {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 70px 0 80px 0;
        .searchResult p {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
        }
    }
}