.mainFooterWrapper {
    box-shadow: 0 0 10px #fff;
}

.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 10px 0;
    color: #fff;
    .logo {
        position: relative;
        display: flex;
        @media (max-width: 1200px) {
            margin-left: 35px;
        }
    }
    .logoEllipse {
        background-color: #cbfcff;
        box-shadow: 0 0 5px #cbfcff;
        position: absolute;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        left: -10px;
        top: 2px;
        z-index: 0;
    }
    .logoTitle {
        font-size: 30px;
        font-weight: 700;
        z-index: 1;
    }
    div {
        font-size: 15px;
        &.left {
            text-align: left;
        }
        &.small {
            font-size: 12px;
            font-weight: 400;
            text-align: right;
            @media (max-width: 1200px) {
            }
        }
        &.right {
            margin-right: 35px;
            @media (max-width: 656px) {
                display: none;
            }
        }
        &.middle {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            @media (max-width: 656px) {
                display: none;
            }
        }
    }
}