.appContentWrapper {
    background: #1B1B1B;
    
}

.appContent {
    background: linear-gradient(#eb6821, #036c99);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex: 1 0 auto;
    }

    footer {
        flex: 0 0 auto;
    }
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
}

