.aboutUsWrapper {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    margin: 80px 35px;
    color: #fff;
    .aboutUs {
        display: flex;
        margin: 40px 90px 40px 90px;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        @media (max-width: 767px) {
            margin: 40px 30px 40px 30px;
        }
        @media (max-width: 480px) {
            margin: 40px 15px 40px 15px;
        }
        content {
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
        }
        .contentTitle {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            margin-bottom: 15px;
        }
        .contentBody p {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
            margin-top: 15px;
            img {
                box-shadow: 0 0 5px #fff;
                border-radius: 20px;
                margin-right: 25px;
                width: 60%;
                float: left;
                @media (max-width: 767px) {
                    float: none;
                    margin-right: 0;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }
    }
}